<app-admin-navbar></app-admin-navbar>
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6 pb-4" *ngFor="let item of requests">
          <div class="card shadow-lg rounded">
            <div class="card-body">
              <h5 class="card-title"> User Id: {{item.userId}}</h5>
              <p class="card-text">Request Info</p>
              <li>
                  User Dept : {{item.userDept}}
              </li>
              <li>
                Resource Link Dept : <a href="{{item.resourceLink}}" target="_blank">{{item.resourceLink}}</a>
              </li>
              <li>
                Resource Price : <a href="{{item.resourceLink}}" target="_blank">{{item.resourcePrice}}</a>
              </li>
              <button *ngIf="!item.isApproved" class="btn btn-primary mt-2 mr-2" (click)="onApprove(item)">Approve</button>
              <button *ngIf="item.isApproved" class="btn btn-success mt-2">Approved</button>
              <button *ngIf="!item.isApproved" class="btn btn-danger mt-2" (click)="onDelete(item.id)">Reject</button>
            </div>
          </div>
        </div>
      </div>
</div>
